p
{
    color: white ;
}
body{
    background-color: rgb(0, 110, 255); 
    
    text-align: center;
}
<<<<<<< HEAD
iframe{
    align-items: center;
    size: 1200px
    
}
img{
    size: 24px;
}
=======
>>>>>>> f789a22fca370b7cfe423db0218d985ed645d4ff
